.wrapper {
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    min-width: 100vw;
}

.headerContainer {
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 25, 47, 0.85);
    color: var(--main-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menuList {
    display: flex;
}

.menuItem {
    padding: 5px 30px;
    cursor: pointer;
}

.resumeButton {
    border: 2px solid var(--primary-accent-color);
    border-radius: 4px;
    padding: 5px 30px;
    background-color: transparent;
    color: var(--main-font-color);
}
.resumeButton:hover {
    background-color: var(--primary-accent-color-tint);
}

.footerContainer {
    height: 100px;
    color: var(--secondary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


.siteSection {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
}

.h1 {
    font-size: 16px;
    color: var(--primary-accent-color);
    margin: 0px 0px 20px 4px;
    user-select: none;
}
.h2 {
    color: var(--main-font-color);
    font-size: clamp(40px, 60px, 80px);
    line-height: 1.1;
    font-weight: 600;
    padding-bottom: 15px;
    user-select: none;
}

.h3 {
    user-select: none;
    color: var(--secondary-font-color);
    font-size: clamp(40px, 60px, 80px);
    line-height: 1.1;
    font-weight: 600;
    padding-bottom: 20px;
}

.p {
    color: var(--main-font-color);
    max-width: 500px;
    padding-bottom: 20px;
    user-select: none;
}

@media (max-width: 768px) {
    .siteSection {
        padding: 80px 0;
    }
}
@media (max-width: 480px) {
    .siteSection {
        padding: 60px 0;
    }
}